<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello {{ name|capitalize|e }} ! :)</title>
</head>
<body>
    <h1>Welcome to {{ name|capitalize|e }} ! :)</h1>
</body>
</html>
